.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
    color: white;
    animation: surgir 1s forwards;
}

@keyframes surgir {
    to {
        min-height: 100vh;
    }
}