/* css global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
    background-color: black;
}

@font-face {
    font-family: "PortAstro";
    src: url("./assets/fonts/Astronomus.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PortCubic";
    src: url("./assets/fonts/cubic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
